{
  "extends": ["wesbos/typescript"],
  "rules": {
    // I wouldn't normally disable these, but since the OW API has a huge return structure, I will here
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    // VSC typescript server throws an appropriate error, this does not
    "import/no-unresolved": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
